*,
 ::before, 
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    font-family: 'Outfit';
    min-height: 100vh;
}

img {
    width: 240px;
    height: 240px;
    border-radius: 6px;
}

.card {
    background-color:var(--White);
    margin-left: 2em;
    border-radius: 6px;
    padding: 10px 0 10px 0;
    width: 97%;
    cursor: pointer;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 15px;
    padding: 0.75em 0 0.75em;
    color: var(--Dark-blue);
}

.subtitle {
    font-size: smaller !important;
    display: flex;
    text-align: center;
    padding: 0.20em 0 2em;
    color: var(--Grayish-blue);
    font-size: 15px;
    width: 85%;
}